**/target
.DS_Store
.direnv
.vscode/
.idea/
*.redb
*.sqlite*
config.toml
.pre-commit-config.yaml
result
Cargo.lock
.aider*
**/postgres_data/
**/.env

# Local development files
data/
test-fake-mint.toml
mainnet-*.toml
