[workspace]
members = [
    "crates/*",
]
resolver = "2"

[workspace.package]
license = "MIT"
homepage = "https://github.com/cashubtc/cdk"
repository = "https://github.com/cashubtc/cdk.git"

[workspace.metadata]
authors = ["CDK Developers"]
edition = "2021"
description = "Cashu Development Kit"
readme = "README.md"
repository = "https://github.com/cashubtc/cdk"
license-file = "LICENSE"
keywords = ["bitcoin", "e-cash", "cashu"]

[profile.ci]
inherits = "dev"
incremental = false
lto = "off"

[workspace.metadata.crane]
name = "cdk-workspace"
