[package]
name = "cdk-sqlite"
version.workspace = true
edition.workspace = true
authors = ["CDK Developers"]
description = "SQLite storage backend for CDK"
license.workspace = true
homepage = "https://github.com/cashubtc/cdk"
repository = "https://github.com/cashubtc/cdk.git"
rust-version.workspace = true                            # MSRV
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["mint", "wallet", "auth"]
mint = ["cdk-common/mint", "cdk-sql-common/mint"]
wallet = ["cdk-common/wallet", "cdk-sql-common/wallet"]
auth = ["cdk-common/auth", "cdk-sql-common/auth"]
sqlcipher = ["rusqlite/bundled-sqlcipher"]
prometheus = ["cdk-sql-common/prometheus", "cdk-prometheus"]
[dependencies]
async-trait.workspace = true
cdk-common = { workspace = true, features = ["test"] }
cdk-prometheus = { workspace = true, optional = true }
bitcoin.workspace = true
cdk-sql-common = { workspace = true }
rusqlite = { version = "0.31", features = ["bundled"]}
thiserror.workspace = true
tokio = { workspace = true, features = ["rt-multi-thread"]}
tracing.workspace = true
serde.workspace = true
serde_json.workspace = true
lightning-invoice.workspace = true
uuid.workspace = true

[target.'cfg(target_arch = "wasm32")'.dependencies]
uuid = { workspace = true, features = ["js"] }
