[package]
name = "cdk-sqlite"
version = "0.5.0"
edition = "2021"
authors = ["CDK Developers"]
description = "SQLite storage backend for CDK"
license = "MIT"
homepage = "https://github.com/cashubtc/cdk"
repository = "https://github.com/cashubtc/cdk.git"
rust-version = "1.66.0" # MSRV

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["mint", "wallet"]
mint = ["cdk/mint"]
wallet = ["cdk/wallet"]

[dependencies]
async-trait = "0.1"
cdk = { path = "../cdk", version = "0.5.0", default-features = false }
bitcoin = { version = "0.32.2", default-features = false }
sqlx = { version = "0.6.3", default-features = false, features = ["runtime-tokio-rustls", "sqlite", "macros", "migrate"] }
thiserror = "1"
tokio = { version = "1", features = [
    "time",
    "macros",
    "sync",
] }
tracing = { version = "0.1", default-features = false, features = ["attributes", "log"] }
serde_json = "1"
lightning-invoice = { version = "0.32.0", features = ["serde", "std"] }
