[package]
name = "cdk-cli"
version = "0.6.0"
edition = "2021"
authors = ["CDK Developers"]
description = "Cashu cli wallet built on CDK"
license = "MIT"
homepage = "https://github.com/cashubtc/cdk"
repository = "https://github.com/cashubtc/cdk.git"
rust-version = "1.63.0" # MSRV

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1"
bip39 = "2.0"
cdk = { path = "../cdk", version = "0.6.0", default-features = false, features = ["wallet"]}
cdk-redb = { path = "../cdk-redb", version = "0.6.0", default-features = false, features = ["wallet"] }
cdk-sqlite = { path = "../cdk-sqlite", version = "0.6.0", default-features = false, features = ["wallet"] }
clap = { version = "4.4.8", features = ["derive", "env", "default"] }
serde = { version = "1", default-features = false, features = ["derive"] }
serde_json = "1"
tokio = { version = "1", default-features = false }
tracing = { version = "0.1", default-features = false, features = ["attributes", "log"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
rand = "0.8.5"
home = "0.5.5"
nostr-sdk = { version = "0.35.0", default-features = false, features = [
    "nip04",
    "nip44",
    "nip59"
]}
reqwest = { version = "0.12", default-features = false, features = [
    "json",
    "rustls-tls",
    "rustls-tls-native-roots",
    "socks",
]}
url = "2.3"
