[package]
name = "cdk-cli"
version = "0.1.0"
edition = "2021"
authors = ["CDK Developers"]
homepage.workspace = true
repository.workspace = true
rust-version.workspace = true # MSRV
license.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
cdk = { workspace = true, default-features = false, features = ["wallet", "nostr"] }
cdk-redb = { workspace = true, default-features = false, features = ["wallet", "nostr"] }
cdk-sqlite = { workspace = true, default-features = false, features = ["wallet", "nostr"] }
clap = { version = "4.4.8", features = ["derive", "env"] }
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-subscriber = "0.3.18"
rand = "0.8.5"
