[package]
name = "cdk-mintd"
version = "0.7.2"
edition = "2021"
authors = ["CDK Developers"]
license = "MIT"
homepage = "https://github.com/cashubtc/cdk"
repository = "https://github.com/cashubtc/cdk.git"
description = "CDK mint binary"

[features]
default = ["management-rpc"]
swagger = ["cdk-axum/swagger", "dep:utoipa", "dep:utoipa-swagger-ui"]
redis = ["cdk-axum/redis"]
management-rpc = ["cdk-mint-rpc"]

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
axum.workspace = true
cdk = { workspace = true, features = [
    "mint",
] }
cdk-redb = { workspace = true, features = [
    "mint",
] }
cdk-sqlite = { workspace = true, features = [
    "mint",
] }
cdk-cln.workspace = true
cdk-lnbits.workspace = true
cdk-phoenixd.workspace = true
cdk-lnd.workspace = true
cdk-fake-wallet.workspace = true
cdk-axum.workspace = true
cdk-mint-rpc = { workspace = true, optional = true }
config = { version = "0.13.3", features = ["toml"] }
clap.workspace = true
bitcoin.workspace = true
tokio = { workspace = true, default-features = false, features = ["signal"] }
tracing.workspace = true
tracing-subscriber.workspace = true
futures.workspace = true
serde.workspace = true
bip39.workspace = true
tower-http = { workspace = true, features = ["compression-full", "decompression-full"] }
tower = "0.5.2"
lightning-invoice = { version = "0.32.0", features = ["serde", "std"] }
home = "0.5.5"
url.workspace = true
utoipa = { workspace = true, optional = true }
utoipa-swagger-ui = { version = "4", features = ["axum"], optional = true }
