[package]
name = "cdk-mintd"
version = "0.4.0"
edition = "2021"
authors = ["CDK Developers"]
license = "MIT"
homepage = "https://github.com/cashubtc/cdk"
repository = "https://github.com/cashubtc/cdk.git"
rust-version = "1.63.0" # MSRV
description = "CDK mint binary"

[dependencies]
anyhow = "1"
axum = "0.6.20"
cdk = { path = "../cdk", default-features = false, features = ["mint"] }
cdk-redb = { path = "../cdk-redb", default-features = false, features = ["mint"] }
cdk-sqlite = { path = "../cdk-sqlite", default-features = false, features = ["mint"] }
cdk-cln = { path = "../cdk-cln", default-features = false }
cdk-lnbits = { path = "../cdk-lnbits", default-features = false }
cdk-phoenixd = { path = "../cdk-phoenixd", default-features = false }
cdk-lnd = { path = "../cdk-lnd", default-features = false }
cdk-fake-wallet = { path = "../cdk-fake-wallet", default-features = false }
cdk-strike = { path = "../cdk-strike" }
cdk-axum = { path = "../cdk-axum", default-features = false }
config = { version = "0.13.3", features = ["toml"] }
clap = { version = "4.4.8", features = ["derive", "env", "default"] }
tokio = { version = "1", default-features = false }
tracing = { version = "0.1", default-features = false, features = ["attributes", "log"] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
futures = { version = "0.3.28", default-features = false }
serde = { version = "1", default-features = false, features = ["derive"] }
bip39 = "2.0"
tower-http = { version = "0.4.4", features = ["cors"] }
lightning-invoice = { version = "0.31", features = ["serde"] }
home = "0.5.5"
url = "2.3"
