[package]
name = "cdk-mintd"
version = "0.6.0"
edition = "2021"
authors = ["CDK Developers"]
license = "MIT"
homepage = "https://github.com/cashubtc/cdk"
repository = "https://github.com/cashubtc/cdk.git"
rust-version = "1.63.0"                            # MSRV
description = "CDK mint binary"

[dependencies]
anyhow = "1"
axum = "0.6.20"
cdk = { path = "../cdk", version = "0.6.0", default-features = false, features = [
    "mint",
] }
cdk-redb = { path = "../cdk-redb", version = "0.6.0", default-features = false, features = [
    "mint",
] }
cdk-sqlite = { path = "../cdk-sqlite", version = "0.6.0", default-features = false, features = [
    "mint",
] }
cdk-cln = { path = "../cdk-cln", version = "0.6.0", default-features = false }
cdk-lnbits = { path = "../cdk-lnbits", version = "0.6.0", default-features = false }
cdk-phoenixd = { path = "../cdk-phoenixd", version = "0.6.0", default-features = false }
cdk-lnd = { path = "../cdk-lnd", version = "0.6.0", default-features = false }
cdk-fake-wallet = { path = "../cdk-fake-wallet", version = "0.6.0", default-features = false }
cdk-strike = { path = "../cdk-strike", version = "0.6.0" }
cdk-axum = { path = "../cdk-axum", version = "0.6.0", default-features = false }
config = { version = "0.13.3", features = ["toml"] }
clap = { version = "4.4.8", features = ["derive", "env", "default"] }
tokio = { version = "1", default-features = false }
tracing = { version = "0.1", default-features = false, features = [
    "attributes",
    "log",
] }
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
futures = { version = "0.3.28", default-features = false }
serde = { version = "1", default-features = false, features = ["derive"] }
bip39 = "2.0"
tower-http = { version = "0.4.4", features = ["cors", "compression-full"] }
lightning-invoice = { version = "0.32.0", features = ["serde", "std"] }
home = "0.5.5"
url = "2.3"
utoipa = { version = "4", optional = true }
utoipa-swagger-ui = { version = "4", features = ["axum"], optional = true }
rand = "0.8.5"

[features]
swagger = ["cdk-axum/swagger", "dep:utoipa", "dep:utoipa-swagger-ui"]
redis = ["cdk-axum/redis"]
