[info]
url = "https://mint.thesimplekid.dev/"
listen_host = "127.0.0.1"
listen_port = 8085
mnemonic = ""
# input_fee_ppk = 0
# enable_swagger_ui = false

[mint_management_rpc]
enabled = false
# address = "127.0.0.1"
# port = 8086


[info.http_cache]
# memory or redis
backend = "memory"
ttl = 60
tti = 60
# `key_prefix` and `connection_string` required for redis
# key_prefix = "mintd"
# connection_string = "redis://localhost"

# NOTE: If [mint_management_rpc] is enabled these values will only be used on first start up.
# Further changes must be made through the rpc.
[mint_info]
# name = "cdk-mintd mutiney net mint"
# Hex pubkey of mint
# pubkey = ""
# description = "These are not real sats for testing only"
# description_long = "A longer mint for testing"
# motd = "Hello world"
# icon_url = "https://this-is-a-mint-icon-url.com/icon.png"
# contact_email = "hello@cashu.me"
# Nostr pubkey of mint (Hex)
# contact_nostr_public_key = ""
# tos_url = "https://example.com/terms-of-service"


[database]
# Database engine (sqlite/redb) defaults to sqlite
# engine = "sqlite"

[ln]
# Required ln backend `cln`, `lnd`, `fakewallet`, 'lnbits'
ln_backend = "fakewallet"
# min_mint=1
# max_mint=500000
# min_melt=1
# max_melt=500000

[cln]
rpc_path = ""
fee_percent = 0.04
reserve_fee_min = 4

# [lnbits]
# admin_api_key = ""
# invoice_api_key = ""
# lnbits_api = ""
# To be set true to support pre v1 lnbits api
# retro_api=false

# [lnd]
# address = "https://domain:port"
# macaroon_file = ""
# cert_file = ""
# fee_percent=0.04
# reserve_fee_min=4

# [fake_wallet]
# supported_units = ["sat"]
# fee_percent = 0.02
# reserve_fee_min = 1
# min_delay_time = 1
# max_delay_time = 3

# [grpc_processor]
# gRPC Payment Processor configuration
# supported_units = ["sat"]
# addr = "127.0.0.1"
# port = 50051
# tls_dir = "/path/to/tls"

# [auth]
# openid_discovery = "http://127.0.0.1:8080/realms/cdk-test-realm/.well-known/openid-configuration"
# openid_client_id = "cashu-client"
# mint_max_bat=50
# enabled_mint=true
# enabled_melt=true
# enabled_swap=true
# enabled_check_mint_quote=true
# enabled_check_melt_quote=true
# enabled_restore=true
# enabled_check_proof_state=true
