[package]
name = "cdk-redb"
version.workspace = true
edition.workspace = true
authors = ["CDK Developers"]
description = "Redb storage backend for CDK"
license.workspace = true
homepage = "https://github.com/cashubtc/cdk"
repository = "https://github.com/cashubtc/cdk.git"
rust-version.workspace = "1.89.0" # MSRV
readme = "README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["wallet"]
wallet = ["cdk-common/wallet"]

[dependencies]
async-trait.workspace = true
cdk-common = { workspace = true, features = ["test"] }
redb = "3.1.0"
thiserror.workspace = true
tracing.workspace = true
serde.workspace = true
serde_json.workspace = true
lightning-invoice.workspace = true
uuid.workspace = true
paste = "1.0.15"

[dev-dependencies]
tempfile = "3.17.1"
tokio.workspace = true

[target.'cfg(target_arch = "wasm32")'.dependencies]
uuid = { workspace = true, features = ["js"] }

[lints]
workspace = true
