[package]
name = "cdk-redb"
version = "0.1.0"
edition = "2021"
authors = ["CDK Developers"]
description = "Redb storage backend for CDK"
license.workspace = true
homepage.workspace = true
repository.workspace = true
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["mint", "wallet"]
mint = ["cdk/mint"]
wallet = ["cdk/wallet"]

[dependencies]
async-trait.workspace = true
cdk = { workspace = true, default-features = false }
redb = "2.1.0"
tokio.workspace = true
thiserror.workspace = true
tracing.workspace = true
serde.workspace = true
serde_json.workspace = true
lightning-invoice.workspace = true
