name: Nutshell integration

on: [push, pull_request]

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Pull and start mint
        run: |
          docker run -d -p 3338:3338 --name nutshell -e MINT_LIGHTNING_BACKEND=FakeWallet -e MINT_LISTEN_HOST=0.0.0.0 -e MINT_LISTEN_PORT=3338 -e MINT_PRIVATE_KEY=TEST_PRIVATE_KEY cashubtc/nutshell:latest poetry run mint
      - name: Check running containers
        run: docker ps
      - name: checkout
        uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v11
      - name: Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v6
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
      - name: Test
        run: nix develop -i -L .#stable --command bash -c "export CDK_TEST_MINT_URL=http://127.0.0.1:3338 && cargo test -p cdk-integration-tests --test happy_path_mint_wallet"
      - name: Show logs if tests fail
        if: failure()
        run: docker logs nutshell
