[package]
name = "cdk"
version = "0.7.2"
edition = "2021"
authors = ["CDK Developers"]
description = "Core Cashu Development Kit library implementing the Cashu protocol"
homepage = "https://github.com/cashubtc/cdk"
repository = "https://github.com/cashubtc/cdk.git"
rust-version = "1.75.0"                                                            # MSRV
license = "MIT"


[features]
default = ["mint", "wallet"]
mint = ["dep:futures", "cdk-common/mint"]
# We do not commit to a MSRV with swagger enabled
swagger = ["mint", "dep:utoipa", "cdk-common/swagger"]
wallet = ["dep:reqwest", "cdk-common/wallet"]
bench = []
http_subscription = []


[dependencies]
cdk-common.workspace = true
cbor-diag.workspace = true
async-trait.workspace = true
anyhow.workspace = true
bitcoin.workspace = true
ciborium.workspace = true
lightning-invoice = { version = "0.32.0", features = ["serde", "std"] }
regex = "1"
reqwest = { workspace = true, default-features = false, features = [
    "json",
    "rustls-tls",
    "rustls-tls-native-roots",
    "socks",
    "zstd",
    "brotli",
    "gzip",
    "deflate",
], optional = true }
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
tracing.workspace = true
thiserror.workspace = true
futures = { workspace = true, optional = true }
url.workspace = true
utoipa = { workspace = true, optional = true }
uuid.workspace = true

# -Z minimal-versions
sync_wrapper = "0.1.2"
bech32 = "0.9.1"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, features = [
    "rt-multi-thread",
    "time",
    "macros",
    "sync",
] }
getrandom = { version = "0.2" }
tokio-tungstenite = { version = "0.19.0", features = [
    "rustls",
    "rustls-tls-native-roots",
] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
tokio = { workspace = true, features = ["rt", "macros", "sync", "time"] }
getrandom = { version = "0.2", features = ["js"] }

[[example]]
name = "mint-token"
required-features = ["wallet"]

[[example]]
name = "p2pk"
required-features = ["wallet"]

[[example]]
name = "wallet"
required-features = ["wallet"]

[[example]]
name = "proof-selection"
required-features = ["wallet"]

[dev-dependencies]
rand = "0.8.5"
cdk-sqlite.workspace = true
bip39.workspace = true
tracing-subscriber.workspace = true
criterion = "0.5.1"

[[bench]]
name = "dhke_benchmarks"
harness = false
