[package]
name = "cdk"
version = "0.1.1"
edition = "2021"
authors = ["CDK Developers"]
description = "Core Cashu Development Kit library implementing the Cashu protocol"
homepage.workspace = true
repository.workspace = true
rust-version.workspace = true # MSRV
license.workspace = true


[features]
default = ["mint", "wallet"]
mint = ["dep:futures"]
wallet = ["dep:reqwest"]


[dependencies]
async-trait.workspace = true
anyhow.workspace = true
base64 = "0.22" # bitcoin uses v0.13 (optional dep)
bitcoin = { workspace = true, features = [
    "serde",
    "rand",
    "rand-std",
] } # lightning-invoice uses v0.30
ciborium = { version = "0.2.2", default-features = false, features = ["std"] }
http = "1.0"
lightning-invoice.workspace = true
once_cell = "1.19"
reqwest = { version = "0.12", default-features = false, features = [
    "json",
    "rustls-tls",
    "rustls-tls-native-roots",
    "socks",
], optional = true }
serde.workspace = true
serde_json.workspace = true
serde_with = "3.4"
tracing.workspace = true
thiserror.workspace = true
futures = { workspace = true, optional = true }
url = "2.3"
uuid.workspace = true

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, features = [
    "rt-multi-thread",
    "time",
    "macros",
    "sync",
] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
tokio = { workspace = true, features = ["rt", "macros", "sync", "time"] }
getrandom = { version = "0.2", features = ["js"] }
instant = { version = "0.1", features = ["wasm-bindgen", "inaccurate"] }

[[example]]
name = "mint-token"
required-features = ["wallet"]

[[example]]
name = "p2pk"
required-features = ["wallet"]

[[example]]
name = "wallet"
required-features = ["wallet"]

[dev-dependencies]
rand = "0.8.5"
bip39.workspace = true
anyhow.workspace = true
